extends layout

block content
    h1=meme.name
    p(class='memPrice') Mem's price: #{meme.price}
    img(class='mem titleMem' src=meme.url)

    if (locals.loggedIn === true)
        form(action=meme.id method='POST')
            label Change price
            input(type='number' name='price' required)
            input(type='submit' value='Change')

    table
        tr
        th Price
        th Time
        th Changed by
        each history_price in meme.prices_history
            tr
            td #{history_price.price}
            td #{history_price.hr}, #{history_price.day}
            td #{history_price.username}