doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (locals.message === true)
      div(class='msgBox')=msg
    if window
      each object, key in window
        script.
          window.!{key} = !{JSON.stringify(object)};
    block content
    footer
      hr
      content="Autor: Piotr Jasiński"
